# Temporary files
.tmp/
.tmp*/

# Obsidian plugin data that may contain secrets
.obsidian/plugins/remotely-save/main.js

# Obsidian settings (optional - uncomment if you don't want to track these)
# .obsidian/
